<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="selectById" parameterType="int" resultType="com.wj.entity.User">
        select * from user where id = #{id};
    </select>

    <select id="selectByName" parameterType="String" resultType="com.wj.entity.User">
        select * from user where name = #{name};
    </select>

    <select id="selectByAge" parameterType="int" resultType="com.wj.entity.User">
        select * from user where age = #{age};
    </select>

    <select id="likeByName" parameterType="String" resultType="com.wj.entity.User">
        select * from user where name like "${}";
    </select>
</mapper>